@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  background-color: cornsilk;
}
h1, h2 {
  font-family: 'Coiny', cursive;
  padding-top: 20px;

}
.heads{
  color: red;
}
.tails{
  color: blue;
}
.orange{
  background-color: orange;
}
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 30px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0 5px 0;
  border: dimgray solid 1px;
}
.grid-container > div > img {
  width: 50%;
}